apiVersion: v1
kind: Service
metadata:
  name: openldap
  labels:
    app.kubernetes.io/name: openldap
spec:
  selector:
    app.kubernetes.io/name: openldap
  ports:
    - port: 389
      targetPort: 389
  clusterIP: None
